.container {
  background-color: #44bba3;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
  border: 8px solid #eef207;
  padding: 5px;
  margin: 5px;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  margin-right: 10px;
}

.image {
  width: 300px;
  transition: transform 0.2s ease-in-out;
}


#weather-search-form {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

#city-input {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
   border: 8px solid whitesmoke;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
}

#city-input:hover {
background-color: #44bba3;
color: #050505;
}
  
#city-input:focus {
  outline: none;
  box-shadow: 0 0 5px 1px #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
   border: 8px solid #eae1e1;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
}





button:hover {
  background-color: #44bba3;
  color: #050505;
}



.logo {
 
  width: 250px;
  height: 250px;
  text-align-last: center top;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
